* {
  /* outline:black solid 1px; */
  text-align: center;
}
body {
  background-color: aliceblue;
  height: 100%;
}

.valueCards {
  display: flex;
  height: 400px;

  /* background: pink; */
}
.valueCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2%;
  padding: 4px;
  width: 25%;
  height: 100%;
  background: rgba(200, 200, 200, 0.404);
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  text-align: center;
  text-shadow: 3px 3px 3px gray;
}
h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
}
.valueBody {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.valueNurture {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
