.vertical {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--collapsible-duration, 300ms) ease-out;
}

.vertical.open {
  grid-template-rows: 1fr;
}

.horizontal {
  display: grid;
  grid-template-columns: 0fr;
  transition: grid-template-columns var(--collapsible-duration, 300ms) ease-out;
}

.horizontal.open {
  grid-template-columns: 1fr;
}

.inner {
  overflow: clip;
  min-height: 0;
  min-width: 0;
}
