.vertical {
  height: 0;
  overflow: clip;
  transition: height var(--collapsible-duration, 300ms) ease-out;
}

.vertical.open {
  height: auto;
}

.horizontal {
  width: 0;
  overflow: clip;
  transition: width var(--collapsible-duration, 300ms) ease-out;
}

.horizontal.open {
  width: auto;
}

.inner {
  min-height: 0;
  min-width: 0;
}
